<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="row" style="width: 100%;margin-bottom: 0px;">
                <div class="col-md-5 col-6" style="padding-left: 0px;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" class="logo_img" alt="logo"/></a>
                    </div>
                </div>
                <div class="col-md-7 col-6">
                    <div class="navbar-collapse collapse " style="float: right;">
                        <ul class="nav navbar-nav" style="display: block;">
                            <li class="active"><a  [routerLink]="['home']">Home</a></li> 
                            <li><a  [routerLink]="['about']">About Us</a></li>
                            <li><a  [routerLink]="['service']">Services</a></li>
                            <li><a [routerLink]="['portfolio']">Portfolio</a></li>
                            <li><a [routerLink]="['career']">Career</a></li>
                            <li><a  [routerLink]="['contact']">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          
        
        </div>
    </div>
</header>
