<footer class="footer" [ngStyle]="{'background' : 'url(assets/img/footer-bg.png)','background-position':'center','background-repeat':'no-repeat','background-size':'cover','position':'relative','overflow':'hidden','width':'100%','margin':'-20px 0px 0px 0px','padding':'420px 0px 0px 0px'}">
	<div class="container">
		<div class="row">
			<!-- <img src="assets/img/footer_program1.png"> -->
			<div class="col-lg-3">
				<div class="widget">
					<h4 class="widgetheading">Our Contact</h4>
					<address>
					<strong>Varahi Technologies</strong><br>
					C14, Windmill Village, Bavdhan, Pune,<br> Maharashtra 411021
					 Pin-21542 NewYork US.</address>
					<p>
						<i class="icon-phone"></i> 098233 46507 <br>
						<i class="icon-envelope-alt"></i> info@varahitechnologies.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h4 class="widgetheading">Quick Links</h4>
					<ul class="link-list">
						<li><a href="#">Home</a></li>
						<li><a href="#" [routerLink]="['about']">About</a></li>
						<li><a href="#" [routerLink]="['service']">Services</a></li>
						<li><a href="#">Latest Events</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#" [routerLink]="['career']">Career</a></li>
						<li><a href="#" [routerLink]="['contact']">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h4 class="widgetheading">Services</h4>
					<ul class="link-list">
						<li><a href="#" [routerLink]="['service']">Web Development</a></li>
						<li><a href="#" [routerLink]="['service']">Web Design</a></li>
						<li><a href="#" [routerLink]="['service']">Mobile App Development</a></li>
						<li><a href="#" [routerLink]="['service']">Digital Marketing</a></li>
						<li><a href="#" [routerLink]="['service']">E-Commerce</a></li>
						<li><a href="#" [routerLink]="['service']">Cloud</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h4 class="widgetheading">Contact Us</h4>
					<ul class="link-list">
						<li><a href="#">info@varahitechnologies.com</a></li>
						<li><a href="#">098233 46507</a></li>
						<li><a href="#"></a></li>
					</ul>
					<h4 class="widgetheading">Contact Us</h4>
					<ul class="link-list social_icon" style="display: flex;">
						<li><a href="#"><img src="assets/img/facebook.png"></a></li>
						<li><a href="#"><img src="assets/img/instagram.png"></a></li>
						<li><a href="#"><img src="assets/img/twitter-sign.png"></a></li>
						<li><a href="#"><img src="assets/img/linkedin.png"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; Varahi technologies 2021 All right reserved. Designed by </span><a href="http://varahitechnologies.com" target="_blank">Varahi UI / UX Team</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>