<section id="inner-headline">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <h2 class="pageTitle">Home | About Us</h2>
          </div>
       </div>
    </div>
 </section>
 <section id="content">
    <div class="container">
       <div class="about">
          <div class="row">
             <div class="col-md-12">
                <h3>About Us </h3>
                <p>
                   Varahi is a global provider of Consulting, Information Technology (IT) and Business services. The company is focused on delivering value through integrated solutions for data intensive business processes that help enterprises across the world overcome their business challenges. 
                </p>
                <p>
                   Varahi Technology is a young and dynamic company formed out of shared vision of I.T. professionals having a good experience in Information Technology by its infinite potential, situated in IT hub of India, Pune.

                </p>
                <p>
                   During last 5 years we have witnessed sustainable growth and currently we are working with a team of technocrats who believes in ideology of developing concrete information technology solution with integrity, passion, dedication, research, expertise and quality. 

                </p>
                <p>
                   Varahi empowers its client to take advantage of the digital revolution to innovate, differentiate and grow. Leveraging cutting-edge technology, Varahi’s solutions radically improve performance and reach of client enterprises; enhanced customer responsiveness, maximized productivity and efficiency in business processes, and lower total cost of ownership.

Varahi Technology is in the business of application / Web Based software development, consulting, Development and Systems integration and data Processing. Commitment to 

                </p>
                <a href="#" class="btn btn-color">Read more</a>  
             </div>
          </div>
          <div class="row">
             <div class="col-md-12">
                <h3>We are awesome <span class="color">TEAM</span></h3>
                <p>
                   Our team consists of passionate individuals who are willing to work with dedication on work they undertake and deliver them with quality and perfection. 
                   Our team consists of developers, coders, designers, quality assurance personnel all connected to central idea of developing workable software with use of well proven technologies and process. Our team also believes that once should stick to basic fundamentals and be open to learn and implement new tools process in order to make products better.
                </p>
                <p>The team at Varahi Technologies brings together a right blend of a rapid execution processes and meticulous planning in our work. Our team strives to provide its customers the best return on their IT investments by making the best technologies and the best people work with them
                </p>
                <!-- <a href="#" class="btn btn-color">Read more</a>   -->
             </div>
          </div>
          <hr>
          <br>
          <div class="row">
             <div class="col-md-4">
                <!-- Heading and para -->
                <div class="block-heading-two">
                   <h3><span>Why Choose Us?</span></h3>
                </div>
                <p>
                    We believe that we are here to develop world-class technology products for our customers with integrity, passion, dedication, research, expertise and quality.

                </p>
             </div>
           
             <div class="col-md-4">
                <div class="block-heading-two">
                   <h3><span>Our Expertise</span></h3>
                </div>
                <h6>Web Development</h6>
                <div class="progress pb-sm">
                   <!-- White color (progress-bar-white) -->
                   <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                   </div>
                </div>
                <h6>Designing</h6>
                <div class="progress pb-sm">
                   <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="sr-only">40% Complete (success)</span>
                   </div>
                </div>
                <h6>User Experience</h6>
                <div class="progress pb-sm">
                   <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">40% Complete (success)</span>
                   </div>
                </div>
                <h6>Development</h6>
                <div class="progress pb-sm">
                   <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <span class="sr-only">40% Complete (success)</span>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                 <img src="assets/img/about_us.png">
             </div>
          </div>
          <br>
          <!-- Our Team starts -->
          <!-- Heading -->
          <div class="block-heading-six">
             <h4 class="bg-color">Our Team</h4>
          </div>
          <br>
          <!-- Our team starts -->
          <div class="team-six">
             <!-- <div class="row offs1">
                <div class="col-md-3 col-sm-6 col-xs-12">
                   <div class="thumbnail">
                      <img class="profile_img" src="assets/img/Parth-Sir1.png" alt="">
                     
                      <div class="caption">
                         <h4> 
                            Parth Pandya
                         </h4>
                         <h5>CEO ,Varahi Technologies</h5>
                        
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                   <div class="thumbnail">
                      <img class="profile_img" src="assets/img/Dipak1-1.JPG" alt="">
                      <div class="caption">
                         <h4> 
                            Michel Rule
                         </h4>
                         <p>
                            Vestibulum ac mauris justo. Vestibulum magna ligula, venenatis in lacus nec, sodales
                            cursus ligula.
                         </p>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                   <div class="thumbnail">
                      <img class="" src="img/team2.jpg" alt="">
                      <div class="caption">
                         <h4> 
                            White Ferels
                         </h4>
                         <p>
                            Vestibulum ac mauris justo. Vestibulum magna ligula, venenatis in lacus nec, sodales
                            cursus ligula.
                         </p>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                   <div class="thumbnail">
                      <img class="" src="img/team3.jpg" alt="">
                      <div class="caption">
                         <h4> 
                            Chrish Meichl 
                         </h4>
                         <p>
                            Vestibulum ac mauris justo. Vestibulum magna ligula, venenatis in lacus nec, sodales
                            cursus ligula.
                         </p>
                      </div>
                   </div>
                </div>
             </div> -->
             <div class="row active custom_cass_1">
    
                <div class="col-md-3 col-sm-4">
                    <div class="team-box">
                            <div class="team-photo">
                                <img src="assets/img/Parth-Sir1.png" alt="Pramod Gaikwad">
                            </div>
                            <div class="team-info">
                                <h3>Parth Pandya</h3>
                                <span>CEO</span>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3 col-sm-4">
                    <div class="team-box">
                        
                            <div class="team-photo">
                                <img src="assets/img/Dipak1-1.JPG" alt="Swapnil Vichare">
                            </div>
                            <div class="team-info">
                            <h3>Dipak Ahirao</h3>
                            <span>Angular Developer</span>
    
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3 col-sm-4">
                    <div class="team-box">
                        
                            <div class="team-photo">
                                <img src="assets/img/gril_profile.jpg" alt="Sudhir Gavali">
                            </div>
                            <div class="team-info">
                            <h3>Sneha Chowdhari</h3>
                            <span>React Developer</span>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="team-box">
                        
                            <div class="team-photo">
                                <img src="assets/img/boy_profile.jpg" alt="Dheeraj Bhosale">
                            </div>
                            <div class="team-info">
                            <h3>Vijay Patil</h3>
                            <span>UI / UX Developer</span>
                           
                        </div>
                    </div>
                </div>
                
                <div class="row active custom_cass_1">
                    <div class="col-md-3 col-sm-4">
                        <div class="team-box">
                                <div class="team-photo">
                                    <img src="assets/img/gril_profile.jpg" alt="Sudhir Gavali">
                                </div>
                                <div class="team-info">
                                    <h3>Pratiksha Ganage</h3>
                                    <span>Angular Developer</span>
                                    
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-3 col-sm-4">
                        <div class="team-box">
                            
                                <div class="team-photo">
                                    <img src="assets/img/gril_profile.jpg" alt="Sudhir Gavali">
                                </div>
                                <div class="team-info">
                                <h3>Piyushee Taunk</h3>
                                <span>Dot net Developer</span>
                                
                            </div>
                        </div>
                    </div> 
                    
                    
                    <div class="col-md-3 col-sm-4">
                        <div class="team-box">
                                <div class="team-photo">
                                    <img src="assets/img/gril_profile.jpg" alt="Sudhir Gavali">
                                </div>
                                <div class="team-info">
                                    <h3>Shubhangi Deshmukh</h3>
                                    <span>Angular Developer</span>
                                    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-4">
                        <div class="team-box">
                            
                                <div class="team-photo">
                                    <img src="assets/img/boy_profile.jpg" alt="Dheeraj Bhosale">
                                </div>
                                <div class="team-info">
                                <h3>Ajay kokate</h3>
                                <span>Dot net Developer</span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
    
                
           
    
                <div class="col-md-3 col-sm-4">
                    <div class="team-box">
                        
                            <div class="team-photo">
                                <img src="assets/img/gril_profile.jpg" alt="Sudhir Gavali">
                            </div>
                            <div class="team-info">
                            <h3>Vrunda Dongare</h3>
                            <span>QA</span>
                            
                        </div>
                    </div>
                </div> 
    
                <div class="col-md-3 col-sm-4">
                    <div class="team-box">
                        
                            <div class="team-photo">
                                <img src="assets/img/boy_profile.jpg" alt="Dheeraj Bhosale">
                            </div>
                            <div class="team-info hide-info">
                            <h3>Anurag Mahajan</h3>
                            <span>Dot net Developer</span>
                           
                            
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3 col-sm-4">
                    <div class="team-box">
                        
                            <div class="team-photo">
                                <img src="assets/img/boy_profile.jpg" alt="Dheeraj Bhosale">
                            </div>
                            <div class="team-info hide-info">
                            <h3>Coming Soon</h3>
                            <span>Developer</span>
                            
                           
                        </div>
                    </div>
                </div>
                
         
            </div>
          </div>
          <!-- Our team ends -->
       </div>
    </div>
 </section>