<section id="inner-headline">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <h2 class="pageTitle">Home | Contact Us</h2>
          </div>
       </div>
    </div>
 </section>
 <section id="content">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
             <div style="overflow:hidden;height:300px;width:100%;">
                <div id="gmap_canvas" style="height:300px;width:100%;"></div>
                <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
                <a class="google-map-code" href="http://www.trivoo.net" id="get-map-data">trivoo</a>
             </div>
             <script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(40.805478,-73.96522499999998),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.805478, -73.96522499999998)});infowindow = new google.maps.InfoWindow({content:"<b>The Breslin</b><br/>2880 Broadway<br/> New York" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
          </div>
       </div>
       <div class="row">
          <div class="col-md-6">
              <h3>Get In Touch !</h3>
             <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor.</p> -->
             <div class="alert alert-success hidden" id="contactSuccess">
                <strong>Success!</strong> Your message has been sent to us.
             </div>
             <div class="alert alert-error hidden" id="contactError">
                <strong>Error!</strong> There was an error sending your message.
             </div>
             <div class="contact-form">
                <form id="contact-form" role="form" novalidate="novalidate">
                   <div class="form-group has-feedback">
                      <label for="name">Name*</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="">
                      <i class="fa fa-user form-control-feedback"></i>
                   </div>
                   <div class="form-group has-feedback">
                      <label for="email">Email*</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="">
                      <i class="fa fa-envelope form-control-feedback"></i>
                   </div>
                   <div class="form-group has-feedback">
                      <label for="subject">Subject*</label>
                      <input type="text" class="form-control" id="subject" name="subject" placeholder="">
                      <i class="fa fa-navicon form-control-feedback"></i>
                   </div>
                   <div class="form-group has-feedback">
                      <label for="message">Message*</label>
                      <textarea class="form-control" rows="6" id="message" name="message" placeholder=""></textarea>
                      <i class="fa fa-pencil form-control-feedback"></i>
                   </div>
                   <input type="submit" value="Submit" class="btn btn-default">
                </form>
             </div>
          </div>
          <div class="col-md-6" style="padding-top: 85px;">
          
             <p>At Varahi, We believe that different tools, development platforms and programming languages are suitable for different jobs and mastering a single tool will not help us deliver excellent solutions. We have expertise over diverse technologies that enable us to deliver exact solutions for the demanding clients surpassing their expectations. 
                At Varahi uses the best of web technologies and software development technologies for your customized web / application development and optimization. The processes involved are highly professional and can assure you appreciable success.
             </p>
             <br/>
             <p><b>We believe that we are here to develop world-class technology products for our customers with integrity, passion, dedication, research, expertise and quality.</b></p>
             <br/>
            
          </div>
       </div>
       <div class="row">
        <div class="col-md-6 pt-5" style="padding-top: 50px;">
            <p>Address  : <b>Varahi Technologies </b><br>
                C14, Windmill Village, Bavdhan, Pune,<br>
                Maharashtra 411021 Pin-21542 NewYork US.</p>
            <p>Mobile: +098233 46507<br>
                FAX: +1 234 199 9898<br>
                E-mail: <a href="mailto:info@sitename.org">hr@varahitechnologies.com</a>
             </p>
        </div>
        <div class="col-md-6">
            <img src="assets/img/contact_us_img.png">
        </div>
       </div>
    </div>
 </section>