<section id="inner-headline">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <h2 class="pageTitle">Home | Career</h2>
          </div>
       </div>
    </div>
    </section>
    <section>
        <div class="container">
           <div class="row">
               <div class="col-md-12">
                  <h3>CAREER </h3>
                  <p><b>Ready to Take the Next Leap Ahead in your Career? Come Join Us.</b></p>
             <p>
               We are a technology focused company. We always look for technocrats willing to work on challenging software development work . We look for candidates who are passionate to work on various technologies/tools, good at fundamentals of programming, responsive in communication, having patience to solve complex bug and innovative enough. 
             </p>
             <p>
               We also look for UI designers to beautify our software with aesthetics view points, QAs with aggressive and detail oriented mindset to give customer no rights to complain and process/domain experts to make products which fits in customer shoes.

             </p>
           
               </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                   <h4>Our Workplace Offers</h4>
                   <ul>
                       <li>Careers not just jobs</li>
                       <li>Create relationships based on trust</li>
                       <li>Technological & functional growth</li>
                       <li>A Competitive Approach</li>
                       <li>Sharpen Your Skills</li>
                       <li>Developing Entrepreneurial Expertise
                     </li>
                   </ul>
                </div>
                <div class="col-md-6 col-12">
                    <img class="career_img" src="assets/img/career1.png">
               </div>
            </div>
        </div>
    </section>
    <section class="job-listing" [ngStyle]="{'background' : 'url(assets/img/carrer_bg1.jpg)','background-position':'center','background-size':'cover','background-repeat':'repeat'}">
       <!-- <section class="job-listing" style="background-image: linear-gradient(to left, rgba(163,120,38,0), rgba(163,120,38,1));"> -->
       <div class="container-fluid">
          <!-- <center> -->
             <h1 style="font-family: 'Montserrat', sans-serif;text-align: center;">Openings</h1>
             <!-- <hr class="hr-small-mid"> -->
             <!-- </br> -->
             <div class="row" style="padding-bottom:10px;">
                <div class="col-sm-6 col-sm-offset-3">
                   <div class="tab" role="tabpanel">
                      <ul class="nav nav-tabs" role="tablist">
                         <li role="presentation" class="active"><a href="#JobsSec" aria-controls="home" role="tab" data-toggle="tab" style="text-align: center;">Jobs</a></li>
                         <li role="presentation"><a href="#InternsSec" aria-controls="profile" role="tab" data-toggle="tab" style="text-align: center;">Internships</a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!-- </br> -->
             <div class="tab-content tabs mytab">
                <div role="tabpanel" class="tab-pane fade in active" id="JobsSec">
                   <div class="row">
                      <div class=" col-md-3">
                         <div class="ih-item circle effect13 from_left_and_right">
                            <a href="graphic-designer.php" target="_blank">
                               <!-- <center> -->
                                  <div class="img"><img src="assets/img/web design.png" alt="img"></div>
                               <!-- </center> -->
                               <div class="infoo">
                                  <div class="
                                     ">
                                     <h3>Want To Join</h3>
                                     <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                  </div>
                               </div>
                            </a>
                         </div>
                         <div class="row career_role">
                            <div class="posi-line">
                               <!-- <center> -->
                                   <b>Graphic Designer</b>
                                <!-- </center> -->
                            </div>
                         </div>
                      </div>
                      <div class=" col-md-3">
                       <div class="ih-item circle effect13 from_left_and_right">
                          <a href="graphic-designer.php" target="_blank">
                             <!-- <center> -->
                               <div class="img"><img src="assets/img/web_development.png" alt="img"></div>
                             <!-- </center> -->
                             <div class="infoo">
                                <div class="
                                   ">
                                   <h3>Want To Join</h3>
                                   <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                </div>
                             </div>
                          </a>
                       </div>
                       <div class="row career_role">
                          <div class="posi-line">
                             <!-- <center> -->
                                 <b>Web Developer</b>
                                <!-- </center> -->
                          </div>
                       </div>
                    </div>
                    <div class=" col-md-3">
                       <div class="ih-item circle effect13 from_left_and_right">
                          <a href="graphic-designer.php" target="_blank">
                             <!-- <center> -->
                                <div class="img"><img src="assets/img/web design.png" alt="img"></div>
                             <!-- </center> -->
                             <div class="infoo">
                                <div class="
                                   ">
                                   <h3>Want To Join</h3>
                                   <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                </div>
                             </div>
                          </a>
                       </div>
                       <div class="row career_role">
                          <div class="posi-line">
                             <!-- <center> -->
                                 <b>Angular Developer</b>
                                <!-- </center> -->
                          </div>
                       </div>
                    </div>
                    <div class=" col-md-3">
                       <div class="ih-item circle effect13 from_left_and_right">
                          <a href="graphic-designer.php" target="_blank">
                             <!-- <center> -->
                               <div class="img"><img src="assets/img/web_development.png" alt="img"></div>
                             <!-- </center> -->
                             <div class="infoo">
                                <div class="
                                   ">
                                   <h3>Want To Join</h3>
                                   <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                </div>
                             </div>
                          </a>
                       </div>
                       <div class="row career_role">
                          <div class="posi-line">
                             <!-- <center> -->
                                 <b>Dot Net Developer</b>
                                <!-- </center> -->
                          </div>
                       </div>
                    </div>
                     
                   </div>
                   <!-- </br> -->
                   <div class="row">
                       <div class=" col-md-3">
                           <div class="ih-item circle effect13 from_left_and_right">
                              <a href="graphic-designer.php" target="_blank">
                                 <!-- <center> -->
                                    <div class="img"><img src="assets/img/web design.png" alt="img"></div>
                                 <!-- </center> -->
                                 <div class="infoo">
                                    <div class="
                                       ">
                                       <h3>Want To Join</h3>
                                       <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                    </div>
                                 </div>
                              </a>
                           </div>
                           <div class="row career_role">
                              <div class="posi-line">
                                 <!-- <center> -->
                                     <b>PHP Developer</b>
                                    <!-- </center> -->
                              </div>
                           </div>
                        </div>
                        <div class=" col-md-3">
                           <div class="ih-item circle effect13 from_left_and_right">
                              <a href="graphic-designer.php" target="_blank">
                                 <!-- <center> -->
                                   <div class="img"><img src="assets/img/web_development.png" alt="img"></div>
                                 <!-- </center> -->
                                 <div class="infoo">
                                    <div class="
                                       ">
                                       <h3>Want To Join</h3>
                                       <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                    </div>
                                 </div>
                              </a>
                           </div>
                           <div class="row career_role">
                              <div class="posi-line">
                                 <!-- <center> -->
                                     <b>Tester</b>
                                    <!-- </center> -->
                              </div>
                           </div>
                        </div>
                        <div class=" col-md-3">
                           <div class="ih-item circle effect13 from_left_and_right">
                              <a href="graphic-designer.php" target="_blank">
                                 <!-- <center> -->
                                    <div class="img"><img src="assets/img/web design.png" alt="img"></div>
                                 <!-- </center> -->
                                 <div class="infoo">
                                    <div class="
                                       ">
                                       <h3>Want To Join</h3>
                                       <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                    </div>
                                 </div>
                              </a>
                           </div>
                           <div class="row career_role">
                              <div class="posi-line">
                                 <!-- <center> -->
                                     <b>HR</b>
                                    <!-- </center> -->
                              </div>
                           </div>
                        </div>
                        <div class=" col-md-3">
                           <div class="ih-item circle effect13 from_left_and_right">
                              <a href="graphic-designer.php" target="_blank">
                                 <!-- <center> -->
                                   <div class="img"><img src="assets/img/web_development.png" alt="img"></div>
                                 <!-- </center> -->
                                 <div class="infoo">
                                    <div class="
                                       ">
                                       <h3>Want To Join</h3>
                                       <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                    </div>
                                 </div>
                              </a>
                           </div>
                           <div class="row career_role">
                              <div class="posi-line">
                                 <!-- <center> -->
                                     <b>Digital Marketing</b>
                                    <!-- </center> -->
                              </div>
                           </div>
                        </div>
                   </div>
                   <!-- </br> -->
                   <!-- <div class="row">
                    
                   </div> -->
                   <!-- </br> -->
                   <!-- <div class="row">
                      <div class=" col-md-3">
                         <div class="ih-item circle effect13 from_left_and_right">
                            <a href="others.php" target="_blank">
                               <div class="img"><img src="img2/finalavatar/other.png" alt="img"></div>
                               <div class="infoo">
                                  <div class="
                                     ">
                                     <h3>Want To Join</h3>
                                     <p><button type="button" class="btn btn-secondary-outline trans-btn">Apply</button></p>
                                  </div>
                               </div>
                            </a>
                         </div>
                         <div class="row">
                            <div class="posi-line">
                               <center><b>Others</b></center>
                            </div>
                         </div>
                      </div>
                   </div> -->
                </div>
                <div role="tabpanel" class="tab-pane fade" id="InternsSec">
                   <div class="row">
                       <div class=" col-md-3">
                          <div class="ih-item circle effect13 from_left_and_right">
                             <a href="graphic-designer.php" target="_blank">
                                <!-- <center> -->
                                   <div class="img"><img src="assets/img/web design.png" alt="img"></div>
                                <!-- </center> -->
                                <div class="infoo">
                                   <div class="
                                      ">
                                      <h3>Want To Join</h3>
                                      <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                   </div>
                                </div>
                             </a>
                          </div>
                          <div class="row career_role">
                             <div class="posi-line">
                                <!-- <center> -->
                                    <b>Graphic Designer</b>
                                <!-- </center> -->
                             </div>
                          </div>
                       </div>
                       <div class=" col-md-3">
                        <div class="ih-item circle effect13 from_left_and_right">
                           <a href="graphic-designer.php" target="_blank">
                              <!-- <center> -->
                                 <div class="img"><img src="assets/img/web_development.png" alt="img"></div>
                              <!-- </center> -->
                              <div class="infoo">
                                 <div class="
                                    ">
                                    <h3>Want To Join</h3>
                                    <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                 </div>
                              </div>
                           </a>
                        </div>
                        <div class="row career_role">
                           <div class="posi-line">
                              <!-- <center> -->
                                  <b>Web Developer</b>
                                <!-- </center> -->
                           </div>
                        </div>
                     </div>
                     <div class=" col-md-3">
                        <div class="ih-item circle effect13 from_left_and_right">
                           <a href="graphic-designer.php" target="_blank">
                              <!-- <center> -->
                                 <div class="img"><img src="assets/img/web design.png" alt="img"></div>
                              <!-- </center> -->
                              <div class="infoo">
                                 <div class="
                                    ">
                                    <h3>Want To Join</h3>
                                    <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                 </div>
                              </div>
                           </a>
                        </div>
                        <div class="row career_role">
                           <div class="posi-line">
                              <!-- <center> -->
                                  <b>Angular Developer</b>
                                <!-- </center> -->
                           </div>
                        </div>
                     </div>
                     <div class=" col-md-3">
                        <div class="ih-item circle effect13 from_left_and_right">
                           <a href="graphic-designer.php" target="_blank">
                              <!-- <center> -->
                               <div class="img"><img src="assets/img/web_development.png" alt="img"></div>
                              <!-- </center> -->
                              <div class="infoo">
                                 <div class="
                                    ">
                                    <h3>Want To Join</h3>
                                    <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                 </div>
                              </div>
                           </a>
                        </div>
                        <div class="row career_role">
                           <div class="posi-line">
                              <!-- <center> -->
                                  <b>Dot Net Developer</b>
                                <!-- </center> -->
                           </div>
                        </div>
                     </div>
                      
                    </div>
                    <!-- </br> -->
                    <div class="row">
                        <div class=" col-md-3">
                            <div class="ih-item circle effect13 from_left_and_right">
                               <a href="graphic-designer.php" target="_blank">
                                  <!-- <center> -->
                                     <div class="img"><img src="assets/img/web design.png" alt="img"></div>
                                  <!-- </center> -->
                                  <div class="infoo">
                                     <div class="
                                        ">
                                        <h3>Want To Join</h3>
                                        <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                            <div class="row career_role">
                               <div class="posi-line">
                                  <!-- <center> -->
                                      <b>PHP Developer</b>
                                    <!-- </center> -->
                               </div>
                            </div>
                         </div>
                         <div class=" col-md-3">
                            <div class="ih-item circle effect13 from_left_and_right">
                               <a href="graphic-designer.php" target="_blank">
                                  <!-- <center> -->
                                   <div class="img"><img src="assets/img/web_development.png" alt="img"></div>
                                  <!-- </center> -->
                                  <div class="infoo">
                                     <div class="
                                        ">
                                        <h3>Want To Join</h3>
                                        <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                            <div class="row career_role">
                               <div class="posi-line">
                                  <!-- <center> -->
                                      <b>Tester</b>
                                    <!-- </center> -->
                               </div>
                            </div>
                         </div>
                         <div class=" col-md-3">
                            <div class="ih-item circle effect13 from_left_and_right">
                               <a href="graphic-designer.php" target="_blank">
                                  <!-- <center> -->
                                     <div class="img"><img src="assets/img/web design.png" alt="img"></div>
                                  <!-- </center> -->
                                  <div class="infoo">
                                     <div class="
                                        ">
                                        <h3>Want To Join</h3>
                                        <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                            <div class="row career_role">
                               <div class="posi-line">
                                  <!-- <center> -->
                                      <b>HR</b>
                                    <!-- </center> -->
                               </div>
                            </div>
                         </div>
                         <div class=" col-md-3">
                            <div class="ih-item circle effect13 from_left_and_right">
                               <a href="graphic-designer.php" target="_blank">
                                  <!-- <center> -->
                                   <div class="img"><img src="assets/img/web_development.png" alt="img"></div>
                                  <!-- </center> -->
                                  <div class="infoo">
                                     <div class="
                                        ">
                                        <h3>Want To Join</h3>
                                        <p><button type="button" class="btn btn-secondary-outline trans-btn btn_apply">Apply</button></p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                            <div class="row career_role">
                               <div class="posi-line">
                                  <!-- <center> -->
                                      <b>Digital Marketing</b>
                                    <!-- </center> -->
                               </div>
                            </div>
                         </div>
                    </div>
                    <!-- </br> -->
                  
                  
                  
                </div>
             </div>
          <!-- </center> -->
       </div>
    </section>