<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Home | Services</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
		<div class="container content">		
        <!-- Service Blcoks -->
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
               <img class="img-responsive service_img1" src="assets/img/unnamed.png" alt="">   
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>        
            </div>
            <div class="col-md-4">
                <img class="img-responsive service_img1" src="assets/img/service2.png" alt="">            
                <h3>Mobile Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>        
            </div>
            <div class="col-md-4 md-margin-bottom-40">
              <img class="img-responsive service_img1" src="assets/img/service3.jpeg" alt="">  
                <h3>Responsive Design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>        
            </div>
        </div>
        <!-- End Service Blcoks -->

        <hr class="margin-bottom-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
                    <div class="info-blocks1">
                        <img class="img-responsive service_img" src="assets/img/web_development.png" alt="">
                        <div class="info-blocks-in">
                            <h3>Web Development</h3>
                            <p class="service_text">Our skilled team of programmers offer a broad range of web development services.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
                    <div class="info-blocks1">
                        <img class="img-responsive service_img" src="assets/img/mobile Application.png" alt="">
                        <div class="info-blocks-in">
                            <h3>Mobile App Development</h3>
                            <p class="service_text">We design mobile applications as per user’s requirements. Take your business to new heights with best mobile apps.
                                </p>
                        </div>
                    </div>
                    
                </div>
                <div class= " col-lg-3 col-md-4 col-sm-4 info-blocks">
                    <div class="info-blocks1">
                        <img class="img-responsive service_img" src="assets/img/E-commerce.png" alt="">
                        <div class="info-blocks-in">
                            <h3>E-Commerce</h3>
                            <p class="service_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
                    <div class="info-blocks1">
                        <img class="img-responsive service_img" src="assets/img/enterprise.png" alt="">
                        <div class="info-blocks-in">
                            <h3>Enterprise</h3>
                            <p class="service_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam.</p>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
                    <div class="info-blocks1">
                        <img class="img-responsive service_img" src="assets/img/cloud.png" alt="">
                        <div class="info-blocks-in">
                            <h3>Cloud</h3>
                            <p class="service_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
                    <div class="info-blocks1">
                        <img class="img-responsive service_img" src="assets/img/E-commerce.png" alt="">
                        <div class="info-blocks-in">
                            <h3>Microsoft</h3>
                            <p class="service_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
                    <div class="info-blocks1">
                        <img class="img-responsive service_img" src="assets/img/web design.png" alt="">
                        <div class="info-blocks-in">
                            <h3>Web Designing</h3>
                            <p class="service_text">We design interactive graphics and wireframes for your projects. We enhance the customer reach by designing the best blueprints.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
                    <div class="info-blocks1">
                        <img class="img-responsive service_img" src="assets/img/open source.png" alt="">
                        <div class="info-blocks-in">
                            <h3>Open source
                            </h3>
                            <p class="service_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
                <!-- <div class="row">
                
            </div> -->
            
         
        </div>
        <!-- Info Blcoks -->
        <!-- <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-bell-o"></i>
                <div class="info-blocks-in">
                    <h3>Awesome Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-hdd-o"></i>
                <div class="info-blocks-in">
                    <h3>FontAwesome</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                <div class="info-blocks-in">
                    <h3>Bootstrap</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div> -->
        <!-- End Info Blcoks -->

       
        <!-- Info Blcoks -->
        <!-- <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-code"></i>
                <div class="info-blocks-in">
                    <h3>SEO Ready</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-compress"></i>
                <div class="info-blocks-in">
                    <h3>Fully Responsive</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-html5"></i>
                <div class="info-blocks-in">
                    <h3>CSS3 + HTML5</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div> -->
        <!-- End Info Blcoks -->

        
    </div>
    </section>