<div id="wrapper">
<section id="featured">
    <!-- Slider -->
    <div id="main-slider" class="flexslider">
       <ul class="slides">
          <li>
             <img class="home_banner_img" src="assets/img/banner_img1.png" alt="" />
             <div class="container">
                <div class="row">
                   <div class="col-md-12">
                      <div class="flex-caption">
                         <h3>
                         Web Development</h3>
                         <p>Our skilled team of programmers offer<br> a broad range of web development services.</p>
                      </div>
                   </div>
                </div>
             </div>
          </li>
          <li>
             <img class="home_banner_img" src="assets/img/banner_img2.png" alt="" />
             <div class="container">
                <div class="row">
                   <div class="col-md-12">
                      <div class="flex-caption">
                         <h3>Mobile App Development</h3>
                         <p>We design mobile applications as per user’s requirements. <br>Take your business to new heights with best mobile apps.</p>
                      </div>
                   </div>
                </div>
             </div>
          </li>
          <li>
             <img class="home_banner_img" src="assets/img/banner_img3.png" alt="" />
             <div class="container">
                <div class="row">
                   <div class="col-md-12">
                      <div class="flex-caption">
                         <h3>Digital Marketing</h3>
                         <p>Lorem ipsum dolor sitamet, cnsscing <br>elit donec mer lacinia.</p>
                      </div>
                   </div>
                </div>
             </div>
          </li>
       </ul>
    </div>
    <!-- end slider -->
 </section>
 <section class="callaction">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <img src="assets/img/services.png" alt="" width="100%"/>
          </div>
          <div class="col-md-8">
             <div>
                <h1>Our Premium Services</h1>
                <span class="clear spacer_responsive_hide_mobile " style="height:13px;display:block;"></span>
                <p>
                   At Varahi, We believe that different tools, development platforms and programming languages are suitable for different jobs and mastering a single tool will not help us deliver excellent solutions. We have expertise over diverse technologies that enable us to deliver exact solutions for the demanding clients surpassing their expectations. 
                   At Varahi uses the best of web technologies and software development technologies for your customized web / application development and optimization. The processes involved are highly professional and can assure you appreciable success.
                </p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section id="content">
     
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
             <div class="info-blocks1">
                <img class="img-responsive service_img" src="assets/img/web_development.png" alt="">
                <div class="info-blocks-in">
                   <h3>Web Development</h3>
                   <p class="service_text">Our skilled team of programmers offer a broad range of web development services.</p>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
             <div class="info-blocks1">
                <img class="img-responsive service_img" src="assets/img/mobile Application.png" alt="">
                <div class="info-blocks-in">
                   <h3>Mobile App Development</h3>
                   <p class="service_text">
                      We offer an impressive range of mobile apps for both Android and IOS. Good graphics and delightful UI/UX are hallmarks of our mobile apps.
                   </p>
                </div>
             </div>
          </div>
          <div class= " col-lg-3 col-md-4 col-sm-4 info-blocks">
             <div class="info-blocks1">
                <img class="img-responsive service_img" src="assets/img/E-commerce.png" alt="">
                <div class="info-blocks-in">
                   <h3>E-Commerce</h3>
                   <p class="service_text">
                      We at Varahi Technologies have been providing e-Commerce platform to clients in diverse domains that enable sales and other commercial transactions for multiple users at a time.  
                   </p>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
             <div class="info-blocks1">
                <img class="img-responsive service_img" src="assets/img/enterprise.png" alt="">
                <div class="info-blocks-in">
                   <h3>Enterprise</h3>
                   <p class="service_text">an enterprise website is a site created for an organization, business or group. ... Enterprise software or application development can also serve some of the needs that an enterprise website </p>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
             <div class="info-blocks1">
                <img class="img-responsive service_img" src="assets/img/cloud.png" alt="">
                <div class="info-blocks-in">
                   <h3>Cloud</h3>
                   <p class="service_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam.</p>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
             <div class="info-blocks1">
                <img class="img-responsive service_img" src="assets/img/E-commerce.png" alt="">
                <div class="info-blocks-in">
                   <h3>Microsoft</h3>
                   <p class="service_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam.</p>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
             <div class="info-blocks1">
                <img class="img-responsive service_img" src="assets/img/web design.png" alt="">
                <div class="info-blocks-in">
                   <h3>Web Designing</h3>
                   <p class="service_text">We design interactive graphics and wireframes for your projects. We enhance the customer reach by designing the best blueprints.</p>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 info-blocks">
             <div class="info-blocks1">
                <img class="img-responsive service_img" src="assets/img/open source.png" alt="">
                <div class="info-blocks-in">
                   <h3>Open source
                   </h3>
                   <p class="service_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam.</p>
                </div>
             </div>
          </div>
       </div>
       <!-- <div class="row">
          </div> -->
       <div class="row">
          <div class="col-md-7">
             <!-- Heading and para -->
             <div class="block-heading-two">
                <h3><span>What we want to do?</span></h3>
             </div>
             <p>We want to be key technology player in digital transformation age by providing innovative services, solutions to our customer.
             </p>
             <div class="block-heading-two">
                <h3><span>Why we are here?
                   </span>
                </h3>
             </div>
             <p>
                We are here to develop world-class technology products for our customers with integrity, passion, dedication, research, expertise and quality.
             </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5">
             <div class="latest-post-wrap pull-left">
                <!-- <h3><span>News</span></h3> -->
                <img class="img-responsive" src="assets/img/software.png" alt="">
                <!--Post item-->
                <div class="post-item-wrap pull-left col-sm-6 col-md-12 col-xs-12">
                  
                </div>
                
             </div>
          </div>
       </div>
    </div>
 </section>
 </div>
 